

#intro {
    text-align: center;
    position: relative;
    background-color: $primary-color;
    width: 100%;

    .frame_title{
        width: 100%;
        padding-top: 2vw;

        img{
            width: 69%;
            margin: 0 auto;

            @include xs {
                width: 85%;
            }
        }
    }

    h2 {
        font-size: 30px;
        color: $text-color;
    }

    h1.problematique {
        color: $primary-color;
        font-size: 40px;
        border-bottom: 3px solid $primary-color;
        padding-bottom: 20px;
    }

    .text_title{
        bottom: 17%;
        width: 93%;
        padding-left: 6.2vw;
        padding-top: 1.1vw;
        padding-bottom: 3vw;
        font: $text-font;

        a {
            color: $secondary-color;
        }

        @include xs {
            font-size: 4vw;
        }
    }

    p {
        text-align: left;
        color: #FFF;
    }

    .cercle_telescope{
        background-color: #FFF;
        width: 6vw;
        position: absolute;
        top: 10%;
        height: 6vw;
        border-radius: 3vw;
        left: 48%;
        z-index: 0;
        margin-bottom: 25vw;
    }
} // #intro




#bloc2{
    text-align: center;
    position: relative;
    width: 100%;

    .header_after{
        position: absolute;
        top: -1vw;
        left: 0;
        width: 100%
    }

    .text{
        position: absolute;
        color: $text-color;
        text-align: left;
    }

    .text1{
        font-size: 7vw;
        top: 15%;
        left: 4.5vw;

        @include xs {
            font-size: 14vw;
            top: 5%;
        }
    }

    .text2{
        top: 39.7%;
        left: 15.7vw;

        @include xs {
            top: 28%;
            left: 2vw;
        }

        .title1{
            font-size: 46vw;

            @include xs {
                font-size: 60vw;
                padding-left: 20vw;
            }
        }

        .title2{
            font-size: 7vw;
            margin-top: -8.5vw;
            margin-left: 3vw;

            @include xs {
                margin-top: -12vw;
                font-size: 12vw;
            }

        }
        .content{
            font-size: 1.8vw;
            top: 80.6vw;
            left: 19.2vw;
            font:$text-font;
            margin-left: 3vw;

            @include xs {
                font-size: 4vw;
                margin-top: -2vw;
            }
        }
    }

    .text3{
        color:$fourth-color;
        top: 50%;
        left: 59.6vw;

        @include xs {
            top: 33%;
        }

        .title1{
            font-size: 16vw;

            @include xs {
                font-size: 40vw;
                text-align: center;
            }
        }

        .title2{
            font-size: 4vw;
            margin-top: -2.5vw;
            margin-left: -2.4vw;

            @include xs {
                font-size: 12vw;
                margin-top: -4vw;
            }

        }
        .content{
            font: $text-font;
            font-size: 1.4vw;
            top: 80.6vw;
            left: 19.2vw;

            margin-left: -2.5vw;

            @include xs {
                font-size: 4vw;
            }
        }
    }

    .text4{
        color:#FFF;
        top: 81%;
        left: 62vw;

        @include xs {
            top: initial;
            left: 5vw;
            bottom: 2%;
        }

        .pre_title{
            margin-bottom: 0vw;
            margin-left: 0.5vw;
        }

        .title{
            font-size: 14vw;

            @include xs {
                font-size: 30vw;
            }
        }

        .post_title{
            margin-top: -2vw;
            margin-left: 0.5vw;

            @include xs {
                margin-top: -5vw;
            }
        }
    }
}

#capacite{
    text-align: left;
    position: relative;
    width: 100%;
    margin-top: -2.4vw;
    z-index: 1;

    @include xs {
        padding-top: 30vw;
    }

    .text1{
        color:$fourth-color;
        position: absolute;
        top: 4%;
        left: 12%;

        @include xs {
            left: 4%;
        }

        .appreciate{
            width: 44%;

            @include xs {
                width: 60%;
            }
        }
        .title_kg{
            font-size: 57vw;
            margin-top: -3vw;

            @include xs {
                font-size: 70vw;
            }
        }
    }

    .text2{
        position: absolute;
        top: 30%;
        left: 44%;
        width: 11%;

        @include xs {
            top: 17%;
            width: 30%;
        }

        .title_kg{
            color:$fourth-color;
            font-size: 14vw;

            @include xs {
                font-size: 25vw;
            }
        }

        .weight{
            color:$primary-color;
            margin-left: 5%;
            margin-top: -11%;
        }
    }

    .text3{
        color:$primary-color;
        position: absolute;
        top: 40.5vw;
        left: 55%;
        width: 37%;

        @include xs {
            left: 65%;
            top: 35%;
            width: 30%;
        }

        .pre_content{
            margin-bottom: 0vw;
        }

        .content{
            font-size:6vw;

            @include xs {
                font-size: 10vw;
            }
        }

        .post_content{
             margin-top: -3%;

             @include xs {
                 font-size: 3.4vw;
             }
        }
    }

    .text4{
        top: 5.5vw;
        left: 64%;
        width: 26%;
        position: absolute;
        font: $text-font;

        @include xs {
            font-size: 4vw;
            display: block;
            position: static;
            background-color: #ef4d0c;
            padding: 3vw;
            width: 100%;
            color: white;
            left: initial;
            top: initial;
            margin-top: -0.3vw;
        }

    }
}


#matiere{
    width: 100%;
    position:relative;
    margin-top: -7vw;
    z-index: 0;

    @include xs {
        margin-top: 0;
        z-index: 10000;
    }

    .grid{
        position: absolute;
        top: 7vw;
        left: 39vw;
        width: 20%;
        z-index: 1;

        @include xs {
            z-index:1000000;
            right: 10%;
            top: -2vw;
            left: initial;
            width: 30%;
        }
    }

    .text1{
        padding-top: 3vw;
        padding-left: 3vw;
        padding-bottom: 5vw;
        background-color: $primary-color;

        color:#FFF;

        .title{
            font-size: 7vw;
            line-height: 6.0vw;

            @include xs {
                font-size: 16vw;
                line-height: normal;
            }
        }

        .content{
            font:$text-font;
            width: 33%;
            margin-top: 2vw;

            @include xs {
                font-size: 4vw;
                width: 100%;
            }
        }
    }

    .bloc_table{
        display: block;
        width: 100%;


        .img_background{
            position: absolute;
            top: 6vw;
            right: 0;
            width: 79%;
            z-index: 10;

            @include xs {
                right: 2%;
                top: 40%;
                opacity: 0.4;
                width: 90%;
            }
        }

        .bloc{
            vertical-align: top;
        }

        .bloc1{
            padding-top: 9vw;
            padding-left: 2vw;
            padding-right: 2vw;
            background-color: $third-color;
            width: 20%;
            color:#FFF;
            height: 44vw;
            float: left;
            border-bottom: 20px solid #aa7f02;

            @include xs {
                padding-top: 2vw;
                width: 100%;
                float: none;
                height: auto;
                position: relative;
                padding: 4vw 2vw;
            }

            img{
                width: 90%;
            }

            &>img {
                @include xs {
                    display: inline-block;
                    width: 30%;
                }
            }

            .percent{
                font-size:13vw;
                margin-bottom: -2vw;

                @include xs {
                    margin-top: 2vw;
                    position: absolute;
                    left: 36%;
                    top: 0%;
                    font-size: 40vw;
                }
            }

            p {
                @include xs {
                    margin-top: 2vw;
                    position: absolute;
                    left: 37%;
                    top: 75%;
                }
            }
        }

        .bloc2{
            background-color: $fourth-color;
            color:$text-color;
            position: relative;
            width: 80%;
            padding-left: 2vw;
            padding-right: 2vw;
            padding-top: 4.1vw;
            height: 44vw;
            float: right;
            border-bottom: 20px solid #03121a;

            @include xs {
                width: 100%;
                float: none;
                height: auto;
            }

            .precontent{
                position: absolute;
                top: 2vw;
                z-index: 20;

                @include xs {
                    position: static;
                    top: initial;
                }
            }

            .postcontent{
                position: absolute;
                bottom: 2.5vw;
                z-index: 20;

                @include xs {
                    position: static;
                    bottom: initial;
                    margin-top: -10vw;
                    padding-bottom: 3vw;
                }
            }
            .number{
                position: absolute;
                font-size: 47vw;
                line-height: 35vw;
                top: 7vw;
                z-index: 20;

                @include xs {
                    top: initial;
                    position: static;
                    top: initial;
                    line-height: normal;
                    font-size: 70vw;
                }
            }

            .percent{
                font-size: 30vw;
                top: 6vw;
                position: absolute;
                left: 36vw;
                z-index: 20;

                @include xs {
                    font-size: 45vw;
                    left: 50vw;
                    top: 35%;
                }
            }

        }
    }
}

#cadenas{
    position: relative;

    padding-top: 2vw;
    padding-left:  2vw;

    .text1{

        .goodnews{
            width: 24%;
            font:$text-font;
            color:$third-color;
            font-size: 1.7vw;

            @include xs {
                font-size: 4vw;
                width: 45%;
            }
        }
        .divise{
            color:$third-color;
            line-height: 8.5vw;
            width: 37%;
            font-size: 10vw;
            margin-top: 4vw;
            margin-bottom: 9vw;

            @include xs {
                font-size: 16vw;
                width: 100%;
                line-height: normal;
                margin-top: 14vw;
                margin-bottom: 3vw;
            }
         }
    }

    .cadena_img{

        position: absolute;
        top: 0;
        right: 0;
        width: 59%;
        z-index: 100;
    }
}

#duree_sac{
    z-index: 99;
    text-align: left;
    position: relative;
    width: 100%;
    height: 112vw;
    background-color: $fourth-color;
    color:#FFF;

    padding-left: 5vw;
    padding-top: 5vw;
    font-size: 7vw;

    @include xs {
        height: auto;
        padding-bottom: 65vw;
    }

    .nb_seconde{
        position: absolute;
        top: 27.5vw;
        left: 8.5vw;
        width: 84%;
        color: $fourth-color;
        text-align: center;

        @include xs {
            top: 39%;
            width: 20%;
            left: 29%;
        }

        .nb{
            font-size: 9vw;
        }

        .secondes{
            font-size: 2.6vw;
            margin-top: -1.8vw;
            margin-left: 2%;
        }
    }
    .deuxcent{
        position: absolute;
        top: 78vw;
        left: 8vw;
        width: 41%;

        @include xs {
            top: 180vw;
            width: 45%;
            left: 40%;
        }
    }

    .description{
        width: 47%;

        @include xs {
            font-size: 16vw;
            width: 100%;
        }
    }

    .horloge{
        width: 70%;
        margin-left: 24%;
        margin-top: -13vw;

        @include xs {
            width: 90%;
            display: block;
            margin: 0 auto;
            margin-top: 20vw;
        }
    }


    .text1{
        font:$text-font;
        width: 8%;
        position: absolute;
        top: 29vw;
        left: 32%;

        @include xs {
            font-size: 4vw;
            width: 30%;
            top: 80vw;
            left: 3%;
        }
    }

    .text2{
        font:$text-font;
        color:$primary-color;

        width: 8%;
        position: absolute;
        top: 52vw;
        left: 62%;

        @include xs {
            color: white;
            font-size: 4vw;
            width: 30%;
            top: 80vw;
            left: 55%;
            width: 20%;
        }
    }

    .text3{
        position: absolute;
        top: 41vw;
        left: 71%;

        @include xs {
            top: 115vw;
            left: 55%;
        }

        .nb{
            font-size: 28vw;

            @include xs {
                font-size: 40vw;
                text-align: center;
            }
        }
        .minutes{
            font:$text-font;
            font-size: 5vw;
            margin-top: -5vw;

            @include xs {
                text-align: center;
                font-size: 8vw;
                margin-top: -10vw;
            }
        }

        color:$primary-color;
    }

    .text4{
        font:$text-font;
        width: 14%;
        position: absolute;
        top: 72vw;
        left: 7%;

        @include xs {
            top: 185vw;
            font-size: 5vw;
            width: 35%;
            left: 3%;
        }
    }

    .text5{
        position: absolute;
        top: 90vw;
        left: 52%;

        @include xs {
            top: 210vw;
            left: 42%;
        }

        .annee{
            font:$text-font;
            font-size: 14vw;
            color:$text-color;
        }

        .que{
            color:#FFF;
            font-size: 6vw;
            margin-top: -3vw;
            margin-left: 1vw;
            margin-bottom: 2vw;

            @include xs {
                font-size: 18vw;
            }
        }
    }
}

#plage{
    position: relative;
    width: 100%;
    padding-bottom: 0vw;
    margin-top: -3vw;

    @include xs {
        display: none;
    }

    .eight{
        position: absolute;
        top: -7%;
        left: 44%;
        font-size: 71vw;
        color:#FFF;
        line-height: 1;
    }

    .milliards{
        position: absolute;
        top: 42%;
        left: 31%;
        font-size: 13vw;
        color:#FFF;
    }

    .content{
        position: absolute;
        top: 37%;
        left: 73%;
        font-size: 2vw;
        width: 24.5%;
    }


    .img_plage{
        //margin-top: -3vw;
    }
}
#plage2 {
    width: 100%;
    padding-bottom: 4vw;

    @include xs {
        display: none;
    }

    .impact{
        color:$primary-color;
        font-size: 7.7vw;
        margin-top: 2vw;
        margin-left: 0vw;
        padding: 0 4vw;
    }
}

#plage_mobile {
    display: none;

    @include xs {
        display: block;

        .impact{
            color:$primary-color;
            font-size: 14vw;
            margin-top: 2vw;
            padding: 0 4vw;
        }
    }
}


#typologie{
    position: relative;
    width: 100%;


    .encadre{
        position: absolute;
        top: 5vw;
        left: 24vw;
        font-size: 6.0vw;
        text-align: center;
        width: 50%;
        line-height: 5.6vw;
        z-index: 1001;

        @include xs {
            font-size: 9vw;
            width: 76%;
            left: 15%;
            line-height: 1em;
            top: 10vw;
        }
    }

    .bandeau {
        position: relative;
        z-index: 1000;
    }

    .typo_table{
        display: table;
        width: 100%;
        margin-top: -5.5vw;

        @include xs {
            display: block;
            margin-top: -14vw;
        }

        .bloc{
            width: 25%;
            max-width: 25%;
            display: table-cell;
            padding-left: 3vw;
            padding-right: 3vw;
            padding-top: 10.5vw;

            @include xs {
                width: 100%;
                max-width: none;
                display: block;
                position: relative;
                margin-top: -0.2vw;
            }

            .title{
                font-size: 4vw;
                line-height: 3.6vw;

                @include xs {
                    font-size: 12vw;
                    line-height: normal;
                    width: 50%;
                }
            }

            .subtitle{
                margin-top: 1vw;
                margin-bottom: 4vw;

                @include xs {
                    width: 50%;
                }
            }

            .content{
                margin-top: 3.5vw;
                margin-bottom: 2vw;

                @include xs {
                    margin-top: 6vw;
                    margin-bottom: 0;
                    padding-bottom: 4vw;
                }
            }

            @include xs {
                img {
                    position: absolute;
                    width: 35%;
                    right: 5%;
                    top: 5%;
                }
            }
        }

        .bloc1{
            background-color:#020B0F;

            @include xs {
                padding-top: 20vw;

                img {
                    top: 15%;
                }
            }
        }

        .bloc2{
            background-color:#08212D;
            color:#3A8EC1;

        }

        .bloc3{
            background-color:#0A2535;
            color:#FFF;
            padding-left: 2vw;
            padding-right: 2vw;
            .subtitle{
                margin-bottom: 2vw;
            }
        }

        .bloc4{
            background-color:#0F2F44;
            color:#FFBC00;

            .subtitle{
                margin-bottom: 2vw;
            }
        }
    }
}

#worldmap{
    position: relative;
    height: 122.5vw;

    @include xs {
        display: none;
    }

    .background{
        position: absolute;
        top: 0;
        left: 0;
    }

    .warning{
        position: absolute;
        width: 7%;
        z-index: 2;
    }

    .warning1{
        top: 62.5vw;
        left: 8.5vw;
    }

    .warning2{
        top: 64.5vw;
        left: 52.5vw;
    }

    .warning3{
        top: 43vw;
        left: 88.5vw;
    }

    .title{
        font-size: 6.5vw;
        width: 55%;
        padding: 2vw 4vw 2vw 4vw;
        background-color: #ef4d0c;
        color: #FFF;
        position: absolute;
        top: 2.5vw;
    }

    .face{
        position: absolute;
        width: 14%;
        top: 25.5vw;
        left: 30.5vw;
    }

    .content{
        font:$text-font;
        color:$text-color;
        position: absolute;
        top: 30vw;
        left: 4vw;
        width: 26%;
    }

    .text{
        position: absolute;
        text-align: center;
        color: white;


        .intro{
            line-height: 1.5vw;
        }

        .number{
            font-size: 6vw;
            margin-top: 0vw;
        }

        .pays{
            font-size: 5vw;
            color: #E5E2DA;
            padding: 0.6vw 1vw 0.5vw 1vw;
        }

        .sacs{
            font-size: 3.5vw;
            margin-top: -1.5vw;
        }
    }
    .text1{
        top: 57.8vw;
        left: 12.4vw;

        .pays{
             //background-color: $text-color;
             padding-top: 0.7vw;
        }
    }

    .text2{
        //color:$primary-color;
        top: 36vw;
        left: 47vw;

        .pays{
             //background-color: $primary-color;
             padding-top: 1.5vw;
        }
    }

    .text3{
        //color:$primary-color;
        top: 17vw;
        left: 65.7vw;
        .pays{
             //background-color: $primary-color;
             padding-top: 0.9vw;
        }
    }

    .text4{
        top: 39vw;
        left: 77vw;
        .pays{
             //background-color: $text-color;
        }
    }

    .text5{
        top: 60vw;
        left: 56.9vw;
        .pays{
             //background-color: $text-color;
            padding-top: 0.7vw;
        }
    }

    .conclusion{
        position: absolute;
        font-size: 6.5vw;
        color: #FFF;
        bottom: 1.5vw;
        left: 5.5vw;
        width: 90%;
    }
}

#worldmap_mobile {
    display: none;

    @include xs {
        display: block;
    }
    .top {
        background-color: #ef4d0c;
        color: white;
        padding: 6vw 0;

        h1 {
            font-size: 16vw;
        }
    }
}


#interdiction{
    position: relative;
    background-color: $fourth-color;
    padding: 1vw 2vw 2vw 6vw;
    border-bottom-right-radius: 11vw;
    background-image: url(../images/italiemap.svg);
    background-position:right top;
    background-repeat:  no-repeat;
    z-index: 1;

    @include xs {
        padding-bottom: 70vw;
        background-position: bottom;
        background-size: 70% auto;
        background-image: url(../images/italiemap_mobile.png);
    }

    .italie_flag{
        position: absolute;
        top: 9vw;
        left: 6.4vw;
        width: 5vw;

        @include xs {
            width: 12vw;
            top: 21vw;
        }
    }

    .italie_map{
        position: absolute;
        top: 10.6vw;
        right: 0vw;
        width: 5vw;
    }

    .title1{
        font-size: 8vw;

        @include xs {
            font-size: 20vw;
        }
    }

    .title2{
        color:#FFF;
        margin-left: 7vw;
        font-size: 4.8vw;

        @include xs {
            font-size: 12vw;
            margin-left: 16vw;
        }
    }

    .content{
        width: 57%;
        color: #FFF;
        margin-top: 1vw;
        margin-bottom: 2vw;

        @include xs {
            width: 100%;
        }
    }
}



#taxation{
    position: relative;
    background-color: $secondary_color;
    width: 100%;
    color: #FFF;
    padding: 12vw 2vw 2vw 6vw;
    margin-top: -10vw;

    .title{
        font-size: 8vw;

        @include xs {
            font-size: 18vw;
        }
    }

    .round_euros{
        width: 16vw;
        z-index: 2;

        position: absolute;
        top: 5vw;
        left: 35vw;

        @include xs {
            left: initial;
            right: 5%;
            width: 33%;
            top: 0;
        }
    }

    .bloc_table{
        display: table;
        width: 100%;

        @include xs {
            display: block;
        }

        .bloc{
            display: table-cell;
            vertical-align: top;
            width: 50%;

            @include xs {
                display: block;
                width: 100%;
            }

            .flag{
                width: 5vw;
                position: absolute;
                margin-left: 0.6vw;
                top: 21.2vw;

                @include xs {
                    width: 12%;
                    top: 31vw;
                }
            }

            .content{
                margin-left: 0.5vw;
                margin-top: 1vw;
                width: 65%;

                @include xs {
                    width: 100%;
                }
            }
        }

        .bloc1{

            .danemark{
                margin-left: 7vw;
                font-size: 4vw;
                margin-top: 1.3vw;
                @include xs {
                    font-size: 10vw;
                    margin-left: 14vw;
                }
            }

            .lock{
                width: 56%;
                margin-top: -1.8vw;

                @include xs {
                    width: 60%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        .bloc2{

            @include xs {
                .flag {
                    top: 139vw;
                }
            }

            .irlande{
                margin-left: 7vw;
                font-size: 4vw;
                margin-top: 1.3vw;

                @include xs {
                    font-size: 10vw;
                    margin-left: 14vw;
                }
            }

            .lock{
                width: 77%;
                margin-top: -2.8vw;

                @include xs {
                    width: 60%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

#last_block{
    position: relative;
    color:#2B77AF;


    .title{
        font-size: 8.5vw;
        padding: 2vw 2vw 2vw 4vw;
        color:#155a97;

        @include xs{
            font-size: 19.5vw;
        }

    }

    .multicolor_border{
        position:   absolute;
        display: table;
        width: 100%;
        margin-left: -3vw;

        @include xs{
            position: relative;
            margin-left: -1.4vw;
        }

        .color{
            display:    table-cell;
            width:  20%;
            padding-top:    1vw;
        }

        .blue1{
            background-color:$primary-color ;

        }

        .white{
            background-color:   #E5E2DA;
        }

        .red{
            background-color:   #EF4D0C;
        }

        @include xs{
            .color{
                padding-top:    1.5vw;
                width:  29.3vw;
            }

            .blue{
                width: 0%;
            }

            .empty{
                 width: 0%;
            }
        }
    }

    .bloc_table1{
        display:table;
        width: 100%;
        margin-bottom: -1vw;

        .bloc_img{
            padding: 2vw 0vw 2vw 2vw;
            display: table-cell;
            width: 20%;
            background-color: #2B77AF;
            border-right: 1vw solid $primary-color ;

            .loi_img{
                width: 115%;
            }

            .loi_img_mobile{
                width: 100%;
                display: none;
            }
        }

        .bloc_annee{
            vertical-align: top;
            display: table-cell;
            width: 20%;
            font-size: 16vw;
            padding: 1vw 2vw 2vw 5vw;
        }

        .bloc_text{
            padding: 4vw 15vw 2vw 5vw;

            vertical-align: top;
            display: table-cell;
            width: 60%;
        }

        @include xs{
            .bloc_img{
                padding: 2vw 4vw 2vw 2vw;
                display: block;
                width: 45%;
                border-top: 1vw solid #155a97;
                border-right: none;
                position: absolute;
                top: 82vw;
            }

            .bloc_annee{
                font-size: 32vw;
            }

            .bloc_text{
                width: 53%;
            }

            .loi_img{
                display: none;
            }
            .loi_img_mobile{
                display: block!important;
            }
        }
    }

    .bloc_table2{
        display:table;
        width: 100%;

        .wrapper{
            border-bottom: 0.1vw solid #FFF;
            padding-bottom: 1vw;
        }

        .bloc{
            padding: 2vw 2vw 0vw 2vw;
            vertical-align: middle;
            display: table-cell;
            font-size: 4.5vw;
            color:#FFF;
        }

        .bloc_text1{
            background-color: #2B77AF;
            width: 75%;

            @include xs{
                display: block;
                width: 100%;
                text-align: left;
                font-size: 10vw;

                .wrapper{
                    padding-left: 44vw;
                    border-bottom: 0.7vw solid #FFF;
                    padding-bottom: 4vw;
                }
            }
        }

        .bloc_text2{
            background-color: $third-color;
            width: 25%;

            @include xs{
                display: none;
            }
        }
    }

    .bloc_table3{
        display:table;
        width: 100%;

        @include xs {
            display: block;
        }

        .wrapper{
            border-right: 0.1vw solid #FFF;
            height: 49vw;
            position: relative;
        }

        .bloc{
            padding: 2vw 2vw 2vw 2vw;
            vertical-align: top;
            display: table-cell;
            font-size: 4.5vw;
            color:#FFF;
            width: 25%;

            .content{
                font: $text-font;
                margin-top: 2vw;
            }

            img{
                width: 91%;
                margin-top: 5vw;
            }

            @include xs{
                width: 100%;
                display: block;
                padding: none;


                img{
                    width: 91%;
                    margin-top: 5vw;
                }

                .wrapper{
                    padding: 2vw 2vw 2vw 2vw;
                    border-right: none;
                }
                    h2{
                    font-size: 10vw;
                    padding-right: 35vw;
                }

                .content{
                    font: 400 3.8vw circular;
                    margin-top: 2vw;
                    padding-right: 61.1vw;
                }
                img{
                    width: 32%;
                    position: absolute;
                    right: 5vw;
                    top: -2vw;
                }
            }
        }

        .bloc_text1{
            background-color: #2B77AF;
            .fish{
                margin-bottom: 1.6vw;
            }

            @include xs{
                .wrapper{
                     border-bottom: 0.5vw solid #FFF;
                }
            }
        }

        .bloc_text2{
            background-color: #2B77AF;
            @include xs{
                .wrapper{
                     border-bottom: 0.5vw solid #FFF;
                }
            }
        }

        .bloc_text3{
            background-color: #2B77AF;
            position: relative;

            img{
                margin-top: 3.2vw;
                margin-bottom: 2vw;
            }
        }

        .bloc_text4{
            position: relative;
            background-color: $third-color;

            img{
                margin-top: 2.8vw;
            }
        }

        .bloc_text_mobile{
            display: none;
            background-color: $third-color;
            .wrapper{
                height: 14vw;
            }

            h2{
                padding-right: 0px;
            }
        }

        @include xs{
            .bloc_text_mobile{
                display: block;
                text-align: center;
            }

            .bloc_text4{
                h2{
                    padding-right: 0;
                }

                img{
                    width: 30%;
                    top: 7vw;
                    margin-top: 5vw;
                }
            }
        }
    }

    .bloc_table_last{
        display:table;
        width: 100%;

        .bloc_img{
            padding: 0vw 1vw 0vw 1vw;
            display: table-cell;
            width: 25%;
            background-color: #2B77AF;
            vertical-align: middle;

            img{
                width: 115%
            }
        }

        .bloc_annee{
            vertical-align: middle;
            display: table-cell;
            width: 25%;
            font-size: 16vw;
            padding-left : 2.5vw;
        }

        .bloc_text{
            padding: 4vw 2vw 2vw 5vw;
            vertical-align: middle;
            display: table-cell;
            width: 50%;

        }

        @include xs{
            .bloc_annee{
                display: block;
                font-size: 28vw;
                padding-left: 4.5vw;

            }

            .bloc_text{
                display: block;
                width: 90%;
            }

            .bloc_img{
                width: 45%;
                img{


                    width: 113%;
                }
            }
        }
    }

    .bloc_table4{
        .bloc_img{
            border-right: 1vw solid #2b77af;
            background-color: #3695DB;
        }
    }

    .bloc_table5{
        color: $third-color;

        .bloc_img{
            background-color: #E3A800;
            border-right: 1vw solid #be8d00;
        }

        .bloc_annee{
            border-bottom: 1vw solid #be8d00;
        }

        @include xs{
            .bloc_annee{
                border-bottom: none;
            }
        }

        .bloc_text{
            border-bottom: 1vw solid #be8d00;
        }

        @include xs{
            .bloc_text{
                border-bottom: none;
            }
        }
    }

    .bloc_transition{
        display: table;
        width: 100%;
        color:#FFF;

        .bloc1{
            padding:2vw 2vw 2vw 2vw;
            display: table-cell;
            background-color: #2B77AF;
            width: 20%;
        }

        .bloc2{
            padding: 2vw 26vw 2vw 2vw;
            display: table-cell;
            background-color: #be8d00;
            width: 63%;
        }

        @include xs{
            .bloc2{
                width: 100%;
            }

            .bloc1{
                padding: 0;
                width: 0%;
            }
        }
    }
}



// Bloc manquant Guillaume
// ------
// ------


#qqf {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    z-index: 10;

    @include xs {
        width: 95%;
    }
}

.pictoqqf {
    width: 7%;
    margin: 0 auto;

    @include xs {
        width: 12%;
    }

    &.first {
        margin-top: -3vw;
    }
}

.qqfbloc {

    color: white;
    padding: 30px 0;

    .left {
        width: 40%;
        float: left;

        @include xs {
            width: 100%;
            float: none;
            margin-bottom: 5vw;
        }

        h1 {
            font-size: 90px;

            @include xs {
                font-size: 70px;
            }
            @include sm {
                font-size: 60px;
            }
            @include md {
                font-size: 75px;
            }
        }
    }
    .right {
        width: 55%;
        float: right;

        @include xs {
            width: 100%;
            float: none;
        }
    }

    &.bloc0 {
        background-color: #2b77af;
        position: relative;

        &>img {
            position: absolute;
            height: 50%;
            bottom: 0;
            left: 0;
            width: auto;

            @include md {
                height: 40%;
            }
            @include xs {
                height: 30%;
            }
        }

        .right {
            padding-bottom: 10vw;

            @include xs {
                padding-bottom: 50vw;
            }
            .voir {
            	&:hover {
            		border: 2px solid $primary-color;
            		background-color: $primary-color;
            	}
            }
        }
    }
    &.bloc1 {
        background-color: #be8d00;
        .right {
            .content {
                float: left;
                width: 60%;
            }
            .image {
                float: right;
                width: 35%;
            }
            .voir {
            	&:hover {
            		border: 2px solid #a47c07;
            		background-color: #a47c07;
            	}
            }
        }
    }
    &.bloc2 {
        background-color: #ef4d0c;

        .left {
            h1 {
                font-size: 70px;
            }
            img {
                width: 50%;
                margin: 0vw auto;
                @include xs {
                    width: 50%;
                    margin: 3vw auto;
                    display: block;
                }
            }
        }
        .right {
            .voir {
                margin: 30px 0;
            	&:hover {
            		border: 2px solid #cc4109;
            		background-color: #cc4109;
            	}
            }
        }
    }
    &.bloc3 {
        background-color: #102f42;
        .left{
            img {
                width: 30%;
                margin: 3vw auto;
                display: block;
                @include xs {
                    width: 50%;
                    margin: 3vw auto;
                    display: block;
                }
            }
        }
        .right {
            .voir {
            	&:hover {
            		border: 2px solid #092333;
            		background-color: #092333;
            	}
            }
        }
    }
    &.bloc4 {
        color: #08212d;
        background-color: #ffbc00;
        .left {
            img {
                @include xs {
                    width: 50%;
                    display: block;
                    margin: 3vw auto;
                }
            }
        }
        .right {
            .voir {
            	&:hover {
            		border: 2px solid #daa40b;
            		background-color: #daa40b;
            	}
            }
        }
    }
}


#sources {
    width: 100%;
    text-align: center;
    color: $text-color;
    font-size: 14px;
    padding: 10px 0;
    margin-top: 80px;

    p{
        a:hover {
            color: black;
        }
    }
} // #sources


#browse {
    margin-top: 6vw;
    color: #155a97;
    background-color:#e5e2da;
    padding-bottom: 5vw;


    &>img {
        margin-bottom: 40px;
    }

    .row {

        @include xs {
            padding: 0 5vw;
        }

        a {
            p {
                margin-bottom: 10px;
            }
            img {
                border: 10px solid white;
            }
        }
    }
}
