// On défini les variables

// Couleurs
$primary-color: #155a97;
$secondary-color: #ef4d0c;
$third-color: #be8d00;
$fourth-color: #08212d;
$text-color: #ef4d0c;

// Polices
$text-font: normal 1.8vw circular;


// Mixins
@mixin bg_cover(){
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin transition($element, $time){

	-webkit-transition: $element $time;
	-moz-transition: $element $time;
	-ms-transition: $element $time;
	transition: $element $time;
}


// Import du reset CSS
@import 'reset';
@import 'grid';
@import 'mediaqueries';
@import 'fonts';

@import 'general';
@import 'content';
