*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a li {
  color: inherit; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=306f681bc7f93cc4c842)
 * Config saved to config.json and https://gist.github.com/306f681bc7f93cc4c842
 */
  /*!
* Bootstrap v3.3.5 (http://getbootstrap.com)
* Copyright 2011-2015 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@font-face {
  font-family: 'chaletcomprime';
  src: url("../fonts/chaletcomprime.eot");
  src: url("../fonts/chaletcomprime.woff") format("woff"), url("../fonts/chaletcomprime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'circular';
  src: url("../fonts/circular.eot");
  src: url("../fonts/circular.woff") format("woff"), url("../fonts/circular.ttf") format("truetype"), url("../fonts/circular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  color: #ef4d0c;
  font: normal 1.8vw circular;
  width: 100%;
  background-color: #FFF;
  font-weight: normal !important; }
  @media (max-width: 767px) {
    body {
      font-size: 4vw; } }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 0;
  font-family: chaletcomprime;
  font-weight: normal !important; }

em {
  font-style: italic; }

a {
  color: inherit;
  text-decoration: none; }
  a:active {
    color: inherit; }
  a:hover {
    color: #ef4d0c; }

img {
  width: 100%;
  height: auto; }

.voir {
  text-align: center;
  font-family: chaletcomprime;
  color: white;
  padding: 6px 10px 3px;
  border: 2px solid white;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
  font-size: 3vw; }
  @media (max-width: 767px) {
    .voir {
      font-size: 5vw; } }
  .voir:hover {
    text-decoration: none;
    color: white;
    border: 2px solid #155a97;
    background-color: #155a97; }

@media (max-width: 767px) {
  .desktopElement {
    display: none; } }

.mobileElement {
  display: none; }
  @media (max-width: 767px) {
    .mobileElement {
      display: block; } }

.primary-color {
  color: #155a97; }

.secondary-color {
  color: #ef4d0c; }

.third-color {
  color: #be8d00; }

.fourth-color {
  color: #08212d; }

.text-color {
  color: #ef4d0c; }

.white-color {
  color: white; }

#intro {
  text-align: center;
  position: relative;
  background-color: #155a97;
  width: 100%; }
  #intro .frame_title {
    width: 100%;
    padding-top: 2vw; }
    #intro .frame_title img {
      width: 69%;
      margin: 0 auto; }
      @media (max-width: 767px) {
        #intro .frame_title img {
          width: 85%; } }
  #intro h2 {
    font-size: 30px;
    color: #ef4d0c; }
  #intro h1.problematique {
    color: #155a97;
    font-size: 40px;
    border-bottom: 3px solid #155a97;
    padding-bottom: 20px; }
  #intro .text_title {
    bottom: 17%;
    width: 93%;
    padding-left: 6.2vw;
    padding-top: 1.1vw;
    padding-bottom: 3vw;
    font: normal 1.8vw circular; }
    #intro .text_title a {
      color: #ef4d0c; }
    @media (max-width: 767px) {
      #intro .text_title {
        font-size: 4vw; } }
  #intro p {
    text-align: left;
    color: #FFF; }
  #intro .cercle_telescope {
    background-color: #FFF;
    width: 6vw;
    position: absolute;
    top: 10%;
    height: 6vw;
    border-radius: 3vw;
    left: 48%;
    z-index: 0;
    margin-bottom: 25vw; }

#bloc2 {
  text-align: center;
  position: relative;
  width: 100%; }
  #bloc2 .header_after {
    position: absolute;
    top: -1vw;
    left: 0;
    width: 100%; }
  #bloc2 .text {
    position: absolute;
    color: #ef4d0c;
    text-align: left; }
  #bloc2 .text1 {
    font-size: 7vw;
    top: 15%;
    left: 4.5vw; }
    @media (max-width: 767px) {
      #bloc2 .text1 {
        font-size: 14vw;
        top: 5%; } }
  #bloc2 .text2 {
    top: 39.7%;
    left: 15.7vw; }
    @media (max-width: 767px) {
      #bloc2 .text2 {
        top: 28%;
        left: 2vw; } }
    #bloc2 .text2 .title1 {
      font-size: 46vw; }
      @media (max-width: 767px) {
        #bloc2 .text2 .title1 {
          font-size: 60vw;
          padding-left: 20vw; } }
    #bloc2 .text2 .title2 {
      font-size: 7vw;
      margin-top: -8.5vw;
      margin-left: 3vw; }
      @media (max-width: 767px) {
        #bloc2 .text2 .title2 {
          margin-top: -12vw;
          font-size: 12vw; } }
    #bloc2 .text2 .content {
      font-size: 1.8vw;
      top: 80.6vw;
      left: 19.2vw;
      font: normal 1.8vw circular;
      margin-left: 3vw; }
      @media (max-width: 767px) {
        #bloc2 .text2 .content {
          font-size: 4vw;
          margin-top: -2vw; } }
  #bloc2 .text3 {
    color: #08212d;
    top: 50%;
    left: 59.6vw; }
    @media (max-width: 767px) {
      #bloc2 .text3 {
        top: 33%; } }
    #bloc2 .text3 .title1 {
      font-size: 16vw; }
      @media (max-width: 767px) {
        #bloc2 .text3 .title1 {
          font-size: 40vw;
          text-align: center; } }
    #bloc2 .text3 .title2 {
      font-size: 4vw;
      margin-top: -2.5vw;
      margin-left: -2.4vw; }
      @media (max-width: 767px) {
        #bloc2 .text3 .title2 {
          font-size: 12vw;
          margin-top: -4vw; } }
    #bloc2 .text3 .content {
      font: normal 1.8vw circular;
      font-size: 1.4vw;
      top: 80.6vw;
      left: 19.2vw;
      margin-left: -2.5vw; }
      @media (max-width: 767px) {
        #bloc2 .text3 .content {
          font-size: 4vw; } }
  #bloc2 .text4 {
    color: #FFF;
    top: 81%;
    left: 62vw; }
    @media (max-width: 767px) {
      #bloc2 .text4 {
        top: initial;
        left: 5vw;
        bottom: 2%; } }
    #bloc2 .text4 .pre_title {
      margin-bottom: 0vw;
      margin-left: 0.5vw; }
    #bloc2 .text4 .title {
      font-size: 14vw; }
      @media (max-width: 767px) {
        #bloc2 .text4 .title {
          font-size: 30vw; } }
    #bloc2 .text4 .post_title {
      margin-top: -2vw;
      margin-left: 0.5vw; }
      @media (max-width: 767px) {
        #bloc2 .text4 .post_title {
          margin-top: -5vw; } }

#capacite {
  text-align: left;
  position: relative;
  width: 100%;
  margin-top: -2.4vw;
  z-index: 1; }
  @media (max-width: 767px) {
    #capacite {
      padding-top: 30vw; } }
  #capacite .text1 {
    color: #08212d;
    position: absolute;
    top: 4%;
    left: 12%; }
    @media (max-width: 767px) {
      #capacite .text1 {
        left: 4%; } }
    #capacite .text1 .appreciate {
      width: 44%; }
      @media (max-width: 767px) {
        #capacite .text1 .appreciate {
          width: 60%; } }
    #capacite .text1 .title_kg {
      font-size: 57vw;
      margin-top: -3vw; }
      @media (max-width: 767px) {
        #capacite .text1 .title_kg {
          font-size: 70vw; } }
  #capacite .text2 {
    position: absolute;
    top: 30%;
    left: 44%;
    width: 11%; }
    @media (max-width: 767px) {
      #capacite .text2 {
        top: 17%;
        width: 30%; } }
    #capacite .text2 .title_kg {
      color: #08212d;
      font-size: 14vw; }
      @media (max-width: 767px) {
        #capacite .text2 .title_kg {
          font-size: 25vw; } }
    #capacite .text2 .weight {
      color: #155a97;
      margin-left: 5%;
      margin-top: -11%; }
  #capacite .text3 {
    color: #155a97;
    position: absolute;
    top: 40.5vw;
    left: 55%;
    width: 37%; }
    @media (max-width: 767px) {
      #capacite .text3 {
        left: 65%;
        top: 35%;
        width: 30%; } }
    #capacite .text3 .pre_content {
      margin-bottom: 0vw; }
    #capacite .text3 .content {
      font-size: 6vw; }
      @media (max-width: 767px) {
        #capacite .text3 .content {
          font-size: 10vw; } }
    #capacite .text3 .post_content {
      margin-top: -3%; }
      @media (max-width: 767px) {
        #capacite .text3 .post_content {
          font-size: 3.4vw; } }
  #capacite .text4 {
    top: 5.5vw;
    left: 64%;
    width: 26%;
    position: absolute;
    font: normal 1.8vw circular; }
    @media (max-width: 767px) {
      #capacite .text4 {
        font-size: 4vw;
        display: block;
        position: static;
        background-color: #ef4d0c;
        padding: 3vw;
        width: 100%;
        color: white;
        left: initial;
        top: initial;
        margin-top: -0.3vw; } }

#matiere {
  width: 100%;
  position: relative;
  margin-top: -7vw;
  z-index: 0; }
  @media (max-width: 767px) {
    #matiere {
      margin-top: 0;
      z-index: 10000; } }
  #matiere .grid {
    position: absolute;
    top: 7vw;
    left: 39vw;
    width: 20%;
    z-index: 1; }
    @media (max-width: 767px) {
      #matiere .grid {
        z-index: 1000000;
        right: 10%;
        top: -2vw;
        left: initial;
        width: 30%; } }
  #matiere .text1 {
    padding-top: 3vw;
    padding-left: 3vw;
    padding-bottom: 5vw;
    background-color: #155a97;
    color: #FFF; }
    #matiere .text1 .title {
      font-size: 7vw;
      line-height: 6.0vw; }
      @media (max-width: 767px) {
        #matiere .text1 .title {
          font-size: 16vw;
          line-height: normal; } }
    #matiere .text1 .content {
      font: normal 1.8vw circular;
      width: 33%;
      margin-top: 2vw; }
      @media (max-width: 767px) {
        #matiere .text1 .content {
          font-size: 4vw;
          width: 100%; } }
  #matiere .bloc_table {
    display: block;
    width: 100%; }
    #matiere .bloc_table .img_background {
      position: absolute;
      top: 6vw;
      right: 0;
      width: 79%;
      z-index: 10; }
      @media (max-width: 767px) {
        #matiere .bloc_table .img_background {
          right: 2%;
          top: 40%;
          opacity: 0.4;
          width: 90%; } }
    #matiere .bloc_table .bloc {
      vertical-align: top; }
    #matiere .bloc_table .bloc1 {
      padding-top: 9vw;
      padding-left: 2vw;
      padding-right: 2vw;
      background-color: #be8d00;
      width: 20%;
      color: #FFF;
      height: 44vw;
      float: left;
      border-bottom: 20px solid #aa7f02; }
      @media (max-width: 767px) {
        #matiere .bloc_table .bloc1 {
          padding-top: 2vw;
          width: 100%;
          float: none;
          height: auto;
          position: relative;
          padding: 4vw 2vw; } }
      #matiere .bloc_table .bloc1 img {
        width: 90%; }
      @media (max-width: 767px) {
        #matiere .bloc_table .bloc1 > img {
          display: inline-block;
          width: 30%; } }
      #matiere .bloc_table .bloc1 .percent {
        font-size: 13vw;
        margin-bottom: -2vw; }
        @media (max-width: 767px) {
          #matiere .bloc_table .bloc1 .percent {
            margin-top: 2vw;
            position: absolute;
            left: 36%;
            top: 0%;
            font-size: 40vw; } }
      @media (max-width: 767px) {
        #matiere .bloc_table .bloc1 p {
          margin-top: 2vw;
          position: absolute;
          left: 37%;
          top: 75%; } }
    #matiere .bloc_table .bloc2 {
      background-color: #08212d;
      color: #ef4d0c;
      position: relative;
      width: 80%;
      padding-left: 2vw;
      padding-right: 2vw;
      padding-top: 4.1vw;
      height: 44vw;
      float: right;
      border-bottom: 20px solid #03121a; }
      @media (max-width: 767px) {
        #matiere .bloc_table .bloc2 {
          width: 100%;
          float: none;
          height: auto; } }
      #matiere .bloc_table .bloc2 .precontent {
        position: absolute;
        top: 2vw;
        z-index: 20; }
        @media (max-width: 767px) {
          #matiere .bloc_table .bloc2 .precontent {
            position: static;
            top: initial; } }
      #matiere .bloc_table .bloc2 .postcontent {
        position: absolute;
        bottom: 2.5vw;
        z-index: 20; }
        @media (max-width: 767px) {
          #matiere .bloc_table .bloc2 .postcontent {
            position: static;
            bottom: initial;
            margin-top: -10vw;
            padding-bottom: 3vw; } }
      #matiere .bloc_table .bloc2 .number {
        position: absolute;
        font-size: 47vw;
        line-height: 35vw;
        top: 7vw;
        z-index: 20; }
        @media (max-width: 767px) {
          #matiere .bloc_table .bloc2 .number {
            top: initial;
            position: static;
            top: initial;
            line-height: normal;
            font-size: 70vw; } }
      #matiere .bloc_table .bloc2 .percent {
        font-size: 30vw;
        top: 6vw;
        position: absolute;
        left: 36vw;
        z-index: 20; }
        @media (max-width: 767px) {
          #matiere .bloc_table .bloc2 .percent {
            font-size: 45vw;
            left: 50vw;
            top: 35%; } }

#cadenas {
  position: relative;
  padding-top: 2vw;
  padding-left: 2vw; }
  #cadenas .text1 .goodnews {
    width: 24%;
    font: normal 1.8vw circular;
    color: #be8d00;
    font-size: 1.7vw; }
    @media (max-width: 767px) {
      #cadenas .text1 .goodnews {
        font-size: 4vw;
        width: 45%; } }
  #cadenas .text1 .divise {
    color: #be8d00;
    line-height: 8.5vw;
    width: 37%;
    font-size: 10vw;
    margin-top: 4vw;
    margin-bottom: 9vw; }
    @media (max-width: 767px) {
      #cadenas .text1 .divise {
        font-size: 16vw;
        width: 100%;
        line-height: normal;
        margin-top: 14vw;
        margin-bottom: 3vw; } }
  #cadenas .cadena_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 59%;
    z-index: 100; }

#duree_sac {
  z-index: 99;
  text-align: left;
  position: relative;
  width: 100%;
  height: 112vw;
  background-color: #08212d;
  color: #FFF;
  padding-left: 5vw;
  padding-top: 5vw;
  font-size: 7vw; }
  @media (max-width: 767px) {
    #duree_sac {
      height: auto;
      padding-bottom: 65vw; } }
  #duree_sac .nb_seconde {
    position: absolute;
    top: 27.5vw;
    left: 8.5vw;
    width: 84%;
    color: #08212d;
    text-align: center; }
    @media (max-width: 767px) {
      #duree_sac .nb_seconde {
        top: 39%;
        width: 20%;
        left: 29%; } }
    #duree_sac .nb_seconde .nb {
      font-size: 9vw; }
    #duree_sac .nb_seconde .secondes {
      font-size: 2.6vw;
      margin-top: -1.8vw;
      margin-left: 2%; }
  #duree_sac .deuxcent {
    position: absolute;
    top: 78vw;
    left: 8vw;
    width: 41%; }
    @media (max-width: 767px) {
      #duree_sac .deuxcent {
        top: 180vw;
        width: 45%;
        left: 40%; } }
  #duree_sac .description {
    width: 47%; }
    @media (max-width: 767px) {
      #duree_sac .description {
        font-size: 16vw;
        width: 100%; } }
  #duree_sac .horloge {
    width: 70%;
    margin-left: 24%;
    margin-top: -13vw; }
    @media (max-width: 767px) {
      #duree_sac .horloge {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 20vw; } }
  #duree_sac .text1 {
    font: normal 1.8vw circular;
    width: 8%;
    position: absolute;
    top: 29vw;
    left: 32%; }
    @media (max-width: 767px) {
      #duree_sac .text1 {
        font-size: 4vw;
        width: 30%;
        top: 80vw;
        left: 3%; } }
  #duree_sac .text2 {
    font: normal 1.8vw circular;
    color: #155a97;
    width: 8%;
    position: absolute;
    top: 52vw;
    left: 62%; }
    @media (max-width: 767px) {
      #duree_sac .text2 {
        color: white;
        font-size: 4vw;
        width: 30%;
        top: 80vw;
        left: 55%;
        width: 20%; } }
  #duree_sac .text3 {
    position: absolute;
    top: 41vw;
    left: 71%;
    color: #155a97; }
    @media (max-width: 767px) {
      #duree_sac .text3 {
        top: 115vw;
        left: 55%; } }
    #duree_sac .text3 .nb {
      font-size: 28vw; }
      @media (max-width: 767px) {
        #duree_sac .text3 .nb {
          font-size: 40vw;
          text-align: center; } }
    #duree_sac .text3 .minutes {
      font: normal 1.8vw circular;
      font-size: 5vw;
      margin-top: -5vw; }
      @media (max-width: 767px) {
        #duree_sac .text3 .minutes {
          text-align: center;
          font-size: 8vw;
          margin-top: -10vw; } }
  #duree_sac .text4 {
    font: normal 1.8vw circular;
    width: 14%;
    position: absolute;
    top: 72vw;
    left: 7%; }
    @media (max-width: 767px) {
      #duree_sac .text4 {
        top: 185vw;
        font-size: 5vw;
        width: 35%;
        left: 3%; } }
  #duree_sac .text5 {
    position: absolute;
    top: 90vw;
    left: 52%; }
    @media (max-width: 767px) {
      #duree_sac .text5 {
        top: 210vw;
        left: 42%; } }
    #duree_sac .text5 .annee {
      font: normal 1.8vw circular;
      font-size: 14vw;
      color: #ef4d0c; }
    #duree_sac .text5 .que {
      color: #FFF;
      font-size: 6vw;
      margin-top: -3vw;
      margin-left: 1vw;
      margin-bottom: 2vw; }
      @media (max-width: 767px) {
        #duree_sac .text5 .que {
          font-size: 18vw; } }

#plage {
  position: relative;
  width: 100%;
  padding-bottom: 0vw;
  margin-top: -3vw; }
  @media (max-width: 767px) {
    #plage {
      display: none; } }
  #plage .eight {
    position: absolute;
    top: -7%;
    left: 44%;
    font-size: 71vw;
    color: #FFF;
    line-height: 1; }
  #plage .milliards {
    position: absolute;
    top: 42%;
    left: 31%;
    font-size: 13vw;
    color: #FFF; }
  #plage .content {
    position: absolute;
    top: 37%;
    left: 73%;
    font-size: 2vw;
    width: 24.5%; }

#plage2 {
  width: 100%;
  padding-bottom: 4vw; }
  @media (max-width: 767px) {
    #plage2 {
      display: none; } }
  #plage2 .impact {
    color: #155a97;
    font-size: 7.7vw;
    margin-top: 2vw;
    margin-left: 0vw;
    padding: 0 4vw; }

#plage_mobile {
  display: none; }
  @media (max-width: 767px) {
    #plage_mobile {
      display: block; }
      #plage_mobile .impact {
        color: #155a97;
        font-size: 14vw;
        margin-top: 2vw;
        padding: 0 4vw; } }

#typologie {
  position: relative;
  width: 100%; }
  #typologie .encadre {
    position: absolute;
    top: 5vw;
    left: 24vw;
    font-size: 6.0vw;
    text-align: center;
    width: 50%;
    line-height: 5.6vw;
    z-index: 1001; }
    @media (max-width: 767px) {
      #typologie .encadre {
        font-size: 9vw;
        width: 76%;
        left: 15%;
        line-height: 1em;
        top: 10vw; } }
  #typologie .bandeau {
    position: relative;
    z-index: 1000; }
  #typologie .typo_table {
    display: table;
    width: 100%;
    margin-top: -5.5vw; }
    @media (max-width: 767px) {
      #typologie .typo_table {
        display: block;
        margin-top: -14vw; } }
    #typologie .typo_table .bloc {
      width: 25%;
      max-width: 25%;
      display: table-cell;
      padding-left: 3vw;
      padding-right: 3vw;
      padding-top: 10.5vw; }
      @media (max-width: 767px) {
        #typologie .typo_table .bloc {
          width: 100%;
          max-width: none;
          display: block;
          position: relative;
          margin-top: -0.2vw; } }
      #typologie .typo_table .bloc .title {
        font-size: 4vw;
        line-height: 3.6vw; }
        @media (max-width: 767px) {
          #typologie .typo_table .bloc .title {
            font-size: 12vw;
            line-height: normal;
            width: 50%; } }
      #typologie .typo_table .bloc .subtitle {
        margin-top: 1vw;
        margin-bottom: 4vw; }
        @media (max-width: 767px) {
          #typologie .typo_table .bloc .subtitle {
            width: 50%; } }
      #typologie .typo_table .bloc .content {
        margin-top: 3.5vw;
        margin-bottom: 2vw; }
        @media (max-width: 767px) {
          #typologie .typo_table .bloc .content {
            margin-top: 6vw;
            margin-bottom: 0;
            padding-bottom: 4vw; } }
      @media (max-width: 767px) {
        #typologie .typo_table .bloc img {
          position: absolute;
          width: 35%;
          right: 5%;
          top: 5%; } }
    #typologie .typo_table .bloc1 {
      background-color: #020B0F; }
      @media (max-width: 767px) {
        #typologie .typo_table .bloc1 {
          padding-top: 20vw; }
          #typologie .typo_table .bloc1 img {
            top: 15%; } }
    #typologie .typo_table .bloc2 {
      background-color: #08212D;
      color: #3A8EC1; }
    #typologie .typo_table .bloc3 {
      background-color: #0A2535;
      color: #FFF;
      padding-left: 2vw;
      padding-right: 2vw; }
      #typologie .typo_table .bloc3 .subtitle {
        margin-bottom: 2vw; }
    #typologie .typo_table .bloc4 {
      background-color: #0F2F44;
      color: #FFBC00; }
      #typologie .typo_table .bloc4 .subtitle {
        margin-bottom: 2vw; }

#worldmap {
  position: relative;
  height: 122.5vw; }
  @media (max-width: 767px) {
    #worldmap {
      display: none; } }
  #worldmap .background {
    position: absolute;
    top: 0;
    left: 0; }
  #worldmap .warning {
    position: absolute;
    width: 7%;
    z-index: 2; }
  #worldmap .warning1 {
    top: 62.5vw;
    left: 8.5vw; }
  #worldmap .warning2 {
    top: 64.5vw;
    left: 52.5vw; }
  #worldmap .warning3 {
    top: 43vw;
    left: 88.5vw; }
  #worldmap .title {
    font-size: 6.5vw;
    width: 55%;
    padding: 2vw 4vw 2vw 4vw;
    background-color: #ef4d0c;
    color: #FFF;
    position: absolute;
    top: 2.5vw; }
  #worldmap .face {
    position: absolute;
    width: 14%;
    top: 25.5vw;
    left: 30.5vw; }
  #worldmap .content {
    font: normal 1.8vw circular;
    color: #ef4d0c;
    position: absolute;
    top: 30vw;
    left: 4vw;
    width: 26%; }
  #worldmap .text {
    position: absolute;
    text-align: center;
    color: white; }
    #worldmap .text .intro {
      line-height: 1.5vw; }
    #worldmap .text .number {
      font-size: 6vw;
      margin-top: 0vw; }
    #worldmap .text .pays {
      font-size: 5vw;
      color: #E5E2DA;
      padding: 0.6vw 1vw 0.5vw 1vw; }
    #worldmap .text .sacs {
      font-size: 3.5vw;
      margin-top: -1.5vw; }
  #worldmap .text1 {
    top: 57.8vw;
    left: 12.4vw; }
    #worldmap .text1 .pays {
      padding-top: 0.7vw; }
  #worldmap .text2 {
    top: 36vw;
    left: 47vw; }
    #worldmap .text2 .pays {
      padding-top: 1.5vw; }
  #worldmap .text3 {
    top: 17vw;
    left: 65.7vw; }
    #worldmap .text3 .pays {
      padding-top: 0.9vw; }
  #worldmap .text4 {
    top: 39vw;
    left: 77vw; }
  #worldmap .text5 {
    top: 60vw;
    left: 56.9vw; }
    #worldmap .text5 .pays {
      padding-top: 0.7vw; }
  #worldmap .conclusion {
    position: absolute;
    font-size: 6.5vw;
    color: #FFF;
    bottom: 1.5vw;
    left: 5.5vw;
    width: 90%; }

#worldmap_mobile {
  display: none; }
  @media (max-width: 767px) {
    #worldmap_mobile {
      display: block; } }
  #worldmap_mobile .top {
    background-color: #ef4d0c;
    color: white;
    padding: 6vw 0; }
    #worldmap_mobile .top h1 {
      font-size: 16vw; }

#interdiction {
  position: relative;
  background-color: #08212d;
  padding: 1vw 2vw 2vw 6vw;
  border-bottom-right-radius: 11vw;
  background-image: url(../images/italiemap.svg);
  background-position: right top;
  background-repeat: no-repeat;
  z-index: 1; }
  @media (max-width: 767px) {
    #interdiction {
      padding-bottom: 70vw;
      background-position: bottom;
      background-size: 70% auto;
      background-image: url(../images/italiemap_mobile.png); } }
  #interdiction .italie_flag {
    position: absolute;
    top: 9vw;
    left: 6.4vw;
    width: 5vw; }
    @media (max-width: 767px) {
      #interdiction .italie_flag {
        width: 12vw;
        top: 21vw; } }
  #interdiction .italie_map {
    position: absolute;
    top: 10.6vw;
    right: 0vw;
    width: 5vw; }
  #interdiction .title1 {
    font-size: 8vw; }
    @media (max-width: 767px) {
      #interdiction .title1 {
        font-size: 20vw; } }
  #interdiction .title2 {
    color: #FFF;
    margin-left: 7vw;
    font-size: 4.8vw; }
    @media (max-width: 767px) {
      #interdiction .title2 {
        font-size: 12vw;
        margin-left: 16vw; } }
  #interdiction .content {
    width: 57%;
    color: #FFF;
    margin-top: 1vw;
    margin-bottom: 2vw; }
    @media (max-width: 767px) {
      #interdiction .content {
        width: 100%; } }

#taxation {
  position: relative;
  background-color: #ef4d0c;
  width: 100%;
  color: #FFF;
  padding: 12vw 2vw 2vw 6vw;
  margin-top: -10vw; }
  #taxation .title {
    font-size: 8vw; }
    @media (max-width: 767px) {
      #taxation .title {
        font-size: 18vw; } }
  #taxation .round_euros {
    width: 16vw;
    z-index: 2;
    position: absolute;
    top: 5vw;
    left: 35vw; }
    @media (max-width: 767px) {
      #taxation .round_euros {
        left: initial;
        right: 5%;
        width: 33%;
        top: 0; } }
  #taxation .bloc_table {
    display: table;
    width: 100%; }
    @media (max-width: 767px) {
      #taxation .bloc_table {
        display: block; } }
    #taxation .bloc_table .bloc {
      display: table-cell;
      vertical-align: top;
      width: 50%; }
      @media (max-width: 767px) {
        #taxation .bloc_table .bloc {
          display: block;
          width: 100%; } }
      #taxation .bloc_table .bloc .flag {
        width: 5vw;
        position: absolute;
        margin-left: 0.6vw;
        top: 21.2vw; }
        @media (max-width: 767px) {
          #taxation .bloc_table .bloc .flag {
            width: 12%;
            top: 31vw; } }
      #taxation .bloc_table .bloc .content {
        margin-left: 0.5vw;
        margin-top: 1vw;
        width: 65%; }
        @media (max-width: 767px) {
          #taxation .bloc_table .bloc .content {
            width: 100%; } }
    #taxation .bloc_table .bloc1 .danemark {
      margin-left: 7vw;
      font-size: 4vw;
      margin-top: 1.3vw; }
      @media (max-width: 767px) {
        #taxation .bloc_table .bloc1 .danemark {
          font-size: 10vw;
          margin-left: 14vw; } }
    #taxation .bloc_table .bloc1 .lock {
      width: 56%;
      margin-top: -1.8vw; }
      @media (max-width: 767px) {
        #taxation .bloc_table .bloc1 .lock {
          width: 60%;
          display: block;
          margin: 0 auto; } }
    @media (max-width: 767px) {
      #taxation .bloc_table .bloc2 .flag {
        top: 139vw; } }
    #taxation .bloc_table .bloc2 .irlande {
      margin-left: 7vw;
      font-size: 4vw;
      margin-top: 1.3vw; }
      @media (max-width: 767px) {
        #taxation .bloc_table .bloc2 .irlande {
          font-size: 10vw;
          margin-left: 14vw; } }
    #taxation .bloc_table .bloc2 .lock {
      width: 77%;
      margin-top: -2.8vw; }
      @media (max-width: 767px) {
        #taxation .bloc_table .bloc2 .lock {
          width: 60%;
          display: block;
          margin: 0 auto; } }

#last_block {
  position: relative;
  color: #2B77AF; }
  #last_block .title {
    font-size: 8.5vw;
    padding: 2vw 2vw 2vw 4vw;
    color: #155a97; }
    @media (max-width: 767px) {
      #last_block .title {
        font-size: 19.5vw; } }
  #last_block .multicolor_border {
    position: absolute;
    display: table;
    width: 100%;
    margin-left: -3vw; }
    @media (max-width: 767px) {
      #last_block .multicolor_border {
        position: relative;
        margin-left: -1.4vw; } }
    #last_block .multicolor_border .color {
      display: table-cell;
      width: 20%;
      padding-top: 1vw; }
    #last_block .multicolor_border .blue1 {
      background-color: #155a97; }
    #last_block .multicolor_border .white {
      background-color: #E5E2DA; }
    #last_block .multicolor_border .red {
      background-color: #EF4D0C; }
    @media (max-width: 767px) {
      #last_block .multicolor_border .color {
        padding-top: 1.5vw;
        width: 29.3vw; }
      #last_block .multicolor_border .blue {
        width: 0%; }
      #last_block .multicolor_border .empty {
        width: 0%; } }
  #last_block .bloc_table1 {
    display: table;
    width: 100%;
    margin-bottom: -1vw; }
    #last_block .bloc_table1 .bloc_img {
      padding: 2vw 0vw 2vw 2vw;
      display: table-cell;
      width: 20%;
      background-color: #2B77AF;
      border-right: 1vw solid #155a97; }
      #last_block .bloc_table1 .bloc_img .loi_img {
        width: 115%; }
      #last_block .bloc_table1 .bloc_img .loi_img_mobile {
        width: 100%;
        display: none; }
    #last_block .bloc_table1 .bloc_annee {
      vertical-align: top;
      display: table-cell;
      width: 20%;
      font-size: 16vw;
      padding: 1vw 2vw 2vw 5vw; }
    #last_block .bloc_table1 .bloc_text {
      padding: 4vw 15vw 2vw 5vw;
      vertical-align: top;
      display: table-cell;
      width: 60%; }
    @media (max-width: 767px) {
      #last_block .bloc_table1 .bloc_img {
        padding: 2vw 4vw 2vw 2vw;
        display: block;
        width: 45%;
        border-top: 1vw solid #155a97;
        border-right: none;
        position: absolute;
        top: 82vw; }
      #last_block .bloc_table1 .bloc_annee {
        font-size: 32vw; }
      #last_block .bloc_table1 .bloc_text {
        width: 53%; }
      #last_block .bloc_table1 .loi_img {
        display: none; }
      #last_block .bloc_table1 .loi_img_mobile {
        display: block !important; } }
  #last_block .bloc_table2 {
    display: table;
    width: 100%; }
    #last_block .bloc_table2 .wrapper {
      border-bottom: 0.1vw solid #FFF;
      padding-bottom: 1vw; }
    #last_block .bloc_table2 .bloc {
      padding: 2vw 2vw 0vw 2vw;
      vertical-align: middle;
      display: table-cell;
      font-size: 4.5vw;
      color: #FFF; }
    #last_block .bloc_table2 .bloc_text1 {
      background-color: #2B77AF;
      width: 75%; }
      @media (max-width: 767px) {
        #last_block .bloc_table2 .bloc_text1 {
          display: block;
          width: 100%;
          text-align: left;
          font-size: 10vw; }
          #last_block .bloc_table2 .bloc_text1 .wrapper {
            padding-left: 44vw;
            border-bottom: 0.7vw solid #FFF;
            padding-bottom: 4vw; } }
    #last_block .bloc_table2 .bloc_text2 {
      background-color: #be8d00;
      width: 25%; }
      @media (max-width: 767px) {
        #last_block .bloc_table2 .bloc_text2 {
          display: none; } }
  #last_block .bloc_table3 {
    display: table;
    width: 100%; }
    @media (max-width: 767px) {
      #last_block .bloc_table3 {
        display: block; } }
    #last_block .bloc_table3 .wrapper {
      border-right: 0.1vw solid #FFF;
      height: 49vw;
      position: relative; }
    #last_block .bloc_table3 .bloc {
      padding: 2vw 2vw 2vw 2vw;
      vertical-align: top;
      display: table-cell;
      font-size: 4.5vw;
      color: #FFF;
      width: 25%; }
      #last_block .bloc_table3 .bloc .content {
        font: normal 1.8vw circular;
        margin-top: 2vw; }
      #last_block .bloc_table3 .bloc img {
        width: 91%;
        margin-top: 5vw; }
      @media (max-width: 767px) {
        #last_block .bloc_table3 .bloc {
          width: 100%;
          display: block;
          padding: none; }
          #last_block .bloc_table3 .bloc img {
            width: 91%;
            margin-top: 5vw; }
          #last_block .bloc_table3 .bloc .wrapper {
            padding: 2vw 2vw 2vw 2vw;
            border-right: none; }
          #last_block .bloc_table3 .bloc h2 {
            font-size: 10vw;
            padding-right: 35vw; }
          #last_block .bloc_table3 .bloc .content {
            font: 400 3.8vw circular;
            margin-top: 2vw;
            padding-right: 61.1vw; }
          #last_block .bloc_table3 .bloc img {
            width: 32%;
            position: absolute;
            right: 5vw;
            top: -2vw; } }
    #last_block .bloc_table3 .bloc_text1 {
      background-color: #2B77AF; }
      #last_block .bloc_table3 .bloc_text1 .fish {
        margin-bottom: 1.6vw; }
      @media (max-width: 767px) {
        #last_block .bloc_table3 .bloc_text1 .wrapper {
          border-bottom: 0.5vw solid #FFF; } }
    #last_block .bloc_table3 .bloc_text2 {
      background-color: #2B77AF; }
      @media (max-width: 767px) {
        #last_block .bloc_table3 .bloc_text2 .wrapper {
          border-bottom: 0.5vw solid #FFF; } }
    #last_block .bloc_table3 .bloc_text3 {
      background-color: #2B77AF;
      position: relative; }
      #last_block .bloc_table3 .bloc_text3 img {
        margin-top: 3.2vw;
        margin-bottom: 2vw; }
    #last_block .bloc_table3 .bloc_text4 {
      position: relative;
      background-color: #be8d00; }
      #last_block .bloc_table3 .bloc_text4 img {
        margin-top: 2.8vw; }
    #last_block .bloc_table3 .bloc_text_mobile {
      display: none;
      background-color: #be8d00; }
      #last_block .bloc_table3 .bloc_text_mobile .wrapper {
        height: 14vw; }
      #last_block .bloc_table3 .bloc_text_mobile h2 {
        padding-right: 0px; }
    @media (max-width: 767px) {
      #last_block .bloc_table3 .bloc_text_mobile {
        display: block;
        text-align: center; }
      #last_block .bloc_table3 .bloc_text4 h2 {
        padding-right: 0; }
      #last_block .bloc_table3 .bloc_text4 img {
        width: 30%;
        top: 7vw;
        margin-top: 5vw; } }
  #last_block .bloc_table_last {
    display: table;
    width: 100%; }
    #last_block .bloc_table_last .bloc_img {
      padding: 0vw 1vw 0vw 1vw;
      display: table-cell;
      width: 25%;
      background-color: #2B77AF;
      vertical-align: middle; }
      #last_block .bloc_table_last .bloc_img img {
        width: 115%; }
    #last_block .bloc_table_last .bloc_annee {
      vertical-align: middle;
      display: table-cell;
      width: 25%;
      font-size: 16vw;
      padding-left: 2.5vw; }
    #last_block .bloc_table_last .bloc_text {
      padding: 4vw 2vw 2vw 5vw;
      vertical-align: middle;
      display: table-cell;
      width: 50%; }
    @media (max-width: 767px) {
      #last_block .bloc_table_last .bloc_annee {
        display: block;
        font-size: 28vw;
        padding-left: 4.5vw; }
      #last_block .bloc_table_last .bloc_text {
        display: block;
        width: 90%; }
      #last_block .bloc_table_last .bloc_img {
        width: 45%; }
        #last_block .bloc_table_last .bloc_img img {
          width: 113%; } }
  #last_block .bloc_table4 .bloc_img {
    border-right: 1vw solid #2b77af;
    background-color: #3695DB; }
  #last_block .bloc_table5 {
    color: #be8d00; }
    #last_block .bloc_table5 .bloc_img {
      background-color: #E3A800;
      border-right: 1vw solid #be8d00; }
    #last_block .bloc_table5 .bloc_annee {
      border-bottom: 1vw solid #be8d00; }
    @media (max-width: 767px) {
      #last_block .bloc_table5 .bloc_annee {
        border-bottom: none; } }
    #last_block .bloc_table5 .bloc_text {
      border-bottom: 1vw solid #be8d00; }
    @media (max-width: 767px) {
      #last_block .bloc_table5 .bloc_text {
        border-bottom: none; } }
  #last_block .bloc_transition {
    display: table;
    width: 100%;
    color: #FFF; }
    #last_block .bloc_transition .bloc1 {
      padding: 2vw 2vw 2vw 2vw;
      display: table-cell;
      background-color: #2B77AF;
      width: 20%; }
    #last_block .bloc_transition .bloc2 {
      padding: 2vw 26vw 2vw 2vw;
      display: table-cell;
      background-color: #be8d00;
      width: 63%; }
    @media (max-width: 767px) {
      #last_block .bloc_transition .bloc2 {
        width: 100%; }
      #last_block .bloc_transition .bloc1 {
        padding: 0;
        width: 0%; } }

#qqf {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  z-index: 10; }
  @media (max-width: 767px) {
    #qqf {
      width: 95%; } }

.pictoqqf {
  width: 7%;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .pictoqqf {
      width: 12%; } }
  .pictoqqf.first {
    margin-top: -3vw; }

.qqfbloc {
  color: white;
  padding: 30px 0; }
  .qqfbloc .left {
    width: 40%;
    float: left; }
    @media (max-width: 767px) {
      .qqfbloc .left {
        width: 100%;
        float: none;
        margin-bottom: 5vw; } }
    .qqfbloc .left h1 {
      font-size: 90px; }
      @media (max-width: 767px) {
        .qqfbloc .left h1 {
          font-size: 70px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .qqfbloc .left h1 {
          font-size: 60px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .qqfbloc .left h1 {
          font-size: 75px; } }
  .qqfbloc .right {
    width: 55%;
    float: right; }
    @media (max-width: 767px) {
      .qqfbloc .right {
        width: 100%;
        float: none; } }
  .qqfbloc.bloc0 {
    background-color: #2b77af;
    position: relative; }
    .qqfbloc.bloc0 > img {
      position: absolute;
      height: 50%;
      bottom: 0;
      left: 0;
      width: auto; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .qqfbloc.bloc0 > img {
          height: 40%; } }
      @media (max-width: 767px) {
        .qqfbloc.bloc0 > img {
          height: 30%; } }
    .qqfbloc.bloc0 .right {
      padding-bottom: 10vw; }
      @media (max-width: 767px) {
        .qqfbloc.bloc0 .right {
          padding-bottom: 50vw; } }
      .qqfbloc.bloc0 .right .voir:hover {
        border: 2px solid #155a97;
        background-color: #155a97; }
  .qqfbloc.bloc1 {
    background-color: #be8d00; }
    .qqfbloc.bloc1 .right .content {
      float: left;
      width: 60%; }
    .qqfbloc.bloc1 .right .image {
      float: right;
      width: 35%; }
    .qqfbloc.bloc1 .right .voir:hover {
      border: 2px solid #a47c07;
      background-color: #a47c07; }
  .qqfbloc.bloc2 {
    background-color: #ef4d0c; }
    .qqfbloc.bloc2 .left h1 {
      font-size: 70px; }
    .qqfbloc.bloc2 .left img {
      width: 50%;
      margin: 0vw auto; }
      @media (max-width: 767px) {
        .qqfbloc.bloc2 .left img {
          width: 50%;
          margin: 3vw auto;
          display: block; } }
    .qqfbloc.bloc2 .right .voir {
      margin: 30px 0; }
      .qqfbloc.bloc2 .right .voir:hover {
        border: 2px solid #cc4109;
        background-color: #cc4109; }
  .qqfbloc.bloc3 {
    background-color: #102f42; }
    .qqfbloc.bloc3 .left img {
      width: 30%;
      margin: 3vw auto;
      display: block; }
      @media (max-width: 767px) {
        .qqfbloc.bloc3 .left img {
          width: 50%;
          margin: 3vw auto;
          display: block; } }
    .qqfbloc.bloc3 .right .voir:hover {
      border: 2px solid #092333;
      background-color: #092333; }
  .qqfbloc.bloc4 {
    color: #08212d;
    background-color: #ffbc00; }
    @media (max-width: 767px) {
      .qqfbloc.bloc4 .left img {
        width: 50%;
        display: block;
        margin: 3vw auto; } }
    .qqfbloc.bloc4 .right .voir:hover {
      border: 2px solid #daa40b;
      background-color: #daa40b; }

#sources {
  width: 100%;
  text-align: center;
  color: #ef4d0c;
  font-size: 14px;
  padding: 10px 0;
  margin-top: 80px; }
  #sources p a:hover {
    color: black; }

#browse {
  margin-top: 6vw;
  color: #155a97;
  background-color: #e5e2da;
  padding-bottom: 5vw; }
  #browse > img {
    margin-bottom: 40px; }
  @media (max-width: 767px) {
    #browse .row {
      padding: 0 5vw; } }
  #browse .row a p {
    margin-bottom: 10px; }
  #browse .row a img {
    border: 10px solid white; }

/*# sourceMappingURL=style.css.map */
